a {
  text-decoration: none;
  color: #0f0f11;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
input {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  border: none;
  padding: 0;
  text-transform: none;
  cursor: pointer;
}

input {
  border: none;

  &:focus {
	outline:0;
  }
}