.form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;

  &__input {
    padding: 4px;
    height: 32px;
    width: 260px;
    margin-right: 24px;
    border-radius: 4px;
  }

  &__button {
    width: 64px;
    height: 40px;
    padding: 4px;

    border-radius: 4px;
    border: 1px solid #0784b5;
    background-color: #fafbfc;

    color: #0784b5;
    font-weight: bold;
    
    transition: all 0.3s ease;

    &:hover {
      transform: scale(1.1);
    }
  }
}
